[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ESTER"]
	path = ESTER
	url = https://github.com/lnalborczyk/ester
	shallow = true
	registered = true
